/* Reseteo básico de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del cuerpo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background: url('image.png') no-repeat center center fixed;
    background-size: cover;
}

/* Estilos del encabezado */
header {
    background-color: rgba(51, 51, 51, 0.8); /* Fondo semi-transparente */
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f0f0f0;
}

/* Estilos principales */
main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
textarea,
input[type="file"] {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

button {
    padding: 0.75rem 1.5rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

p a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}

/* Estilos del botón de compartir */
button.share {
    background-color: #4267B2; /* Color de Facebook */
}

button.share:hover {
    background-color: #365899;
}

        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #333;
            color: white;
            text-align: right;
            padding: 10px;
        }
        .footer-content {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        .footer-content a {
            color: white;
            text-decoration: none;
            margin-right: 10px;
        }
        .footer-content img {
            width: 24px;
            height: 24px;
        }
